<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Zucora Home: Event page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
  <!-- <link href="../../Content/Zuc/styles/SRS-system.css" rel="stylesheet"> -->
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- [ FONTS ]-->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
</head>
<body>
  <!-- Site Navigation-->
  <div class="zuc-nav-wrapper srs-nav-container" data-nav-height>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
      <!-- Nav Branding-->
      <a class="zuc-nav-brand" href="#"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- First -->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="~/zuc/planregistration" title="Plan Registration" aria-role="menu-item">Plan Registration</a>
                <a href="~/zuc/planinquiry" title="Plan Registration Inquiry" aria-role="menu-item">Plan Inquiry</a>
                <a href="plan-pending-registrations.html" title="Registration History" aria-role="menu-item">Registration History</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Orders</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="order-entry.html" title="Order Entry" aria-role="menuitem">Entry</a>
                <a href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zuc-nav-dropdown "><i class="fa fa-user-alt"></i><span class="u-uppercase"> @User.Identity.Name</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="~/zuc/retailerprofile">Profile</a>
                <a href="~/Account/Manage">Change Password</a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span>
        </div>
      </div>
    </nav>
    <!-- Mobile Navigation-->
    <div class="zuc-mobile-nav" data-mobile-menu>
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content">
        <a href="https://zucorahome.com/" title="Zucora Home">
          <img src="~/Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home">
        </a>
      </div>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="~/zuc/planregistration" title="Plan Registration" aria-role="menuitem">Plan Registration</a>
            <a class="zuc-accordion-link" href="~/zuc/planinquiry" title="Plan Registration Inquiry" aria-role="menuitem">Plan Registration Inquiry</a>
            <a class="zuc-accordion-link" href="plan-reporting.html" title="Registration History" aria-role="menuitem">Registration History/a>
          </div>
        </div>
        <!--Orders Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Orders<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="order-entry.html" title="Order Entry" aria-role="menuitem">Order Entry</a>
            <a class="zuc-accordion-link" href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
          </div>
        </div>
        <!--Username Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title"><i class="fa fa-user-alt"></i><i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="~/zuc/retailerprofile" title="Profile" aria-role="menuitem">Profile</a>
            <a class="zuc-accordion-link" href="~/Account/Manage" title="Change Password" aria-role="menuitem">Change Password</a>
            <a class="zuc-accordion-link" href="javascript:document.getElementById('logoutForm').submit()" title="Log Out" aria-role="menuitem">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main page content-->
  <section class="smart-protection-plans-container">
    <div class="margin-bottom-1">
      <h1 class="u-font-serif u-zuc-indigo u-text-center">Smart Product Protection Plans</h1>
        <div class="zuc-title-flag">
          <div class="--green"></div>
        </div>
        <p class="smartPlans-subText">Smart Product Protection Plans provide excellent coverage combined with the industry's top-rated customer care when stains, repairs or replacements are required.</p>
      <h1 class="u-font-serif u-text-center u-zuc-indigo">Plans de protection de produit Smart</h1>
        <div class="zuc-title-flag">
          <div class="--green"></div>
        </div>
        <p class="smartPlans-subText">Les plans de protection de produit Smart offrent une excellente couverture jumelée à un service à la clientèle hors pair pour 
le nettoyage, les réparations et le remplacement des articles.</p>
    </div>

    <div class="margin-top-2">
      <h4 class="u-bold u-text-center" style="margin-bottom: 5px;">Select image to view Terms & Conditions for each plan</h4>
      <h4 class="u-bold u-text-center">Sélectionnez une image pour afficher les modalités et conditions du plan en question</h4>
    </div>
    <div class="smartPlans-greyTable">
      <h3 class="u-text-center u-uppercase">Plans / Des Plans</h3>
    </div>
    <div class="smartPlans-greyTable three-column-smarterPlan" style="border-top:none;">
      <div class="flex flex-column flex-vert-center flex-hor-center plan-right-border padding-1">
        <img src="../../Images/Zuc/images/smart-protection-plan/Furniture.png" alt="Image of sectional sofa." class="center margin-top-2">
        <h6 class="u-zuc-indigo table-subText margin-top-1">Furniture</h6>
        <h6 class="u-zuc-indigo table-subText margin-bottom-1">Muebles</h6>
        <div class="flex flex-row flex-vert-end mobile-image">
          <img src="../../Images/Zuc/images/smart-protection-plan/Smart3.png" alt="" class="image-halfSize">
          <img src="../../Images/Zuc/images/smart-protection-plan/Smart5.png" alt="" class="image-halfSize">
        </div>
      </div>

      <div class="flex flex-column flex-vert-center flex-hor-center plan-right-border padding-1">
        <img src="../../Images/Zuc/images/smart-protection-plan/Appliances.png" alt="" class="center">
        <h6 class="u-zuc-indigo table-subText">Appliances</h6>
        <h6 class="u-zuc-indigo table-subText margin-bottom-1">Èlectroménagers</h6>
         <div class="flex flex-row flex-vert-end margin-bottom-2 mobile-image">
          <img src="../../Images/Zuc/images/smart-protection-plan/Smart3-App.png" alt="" class="image-halfSize">
          <img src="../../Images/Zuc/images/smart-protection-plan/Smart5-App.png" alt="" class="image-halfSize">
        </div>
      </div>

      <div class="flex flex-column flex-vert-center flex-hor-center padding-1">
        <img src="../../Images/Zuc/images/smart-protection-plan/Adjustablebase.png" alt="" class="center margin-top-1">
        <h6 class="u-zuc-indigo table-subText margin-top-1">Adjustable Base</h6>
        <h6 class="u-zuc-indigo table-subText margin-bottom-1">Base de lit ajustable</h6>
         <div class="flex flex-row margin-top-1">
          <img src="../../Images/Zuc/images/smart-protection-plan/Smart10.png" alt="" class="center">
        </div>
      </div>
    </div>
  </section>
  <!-- main page content ends -->
  <footer class="zuc-footer-wrapper">
    <!-- - Footer Links-->
    <footer class="flex flex-hor-center zuc-footer">
      <div class="zuc-footer--brand-section flex flex-column"><a class="zuc-nav-brand" href="/Zuc/index" title="Home"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
        <div class="zuc-footer--social-icons-primary">
          <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
            <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
            <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="zuc-footer-body flex flex-row">
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">About Us</h4><a class="zuc-footer--link" href="/Zuc/formcontactus" title="Contact Us">Contact Us</a><a class="zuc-footer--link" href="/Zuc/ourstory" title="About Us">Our Story</a><a
              class="zuc-footer--link" href="/Zuc/ourstory#our-team" title="Our Team">Our Team</a><a class="zuc-footer--link" href="/Zuc/ourstory#join-us" title="Join Us">Join Us</a>
          </div>
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Member Centre</h4><a class="zuc-footer--link" href="/Zuc/smarterliving" title="What is Smarter Living?">What is Smarter Living?</a><a class="zuc-footer--link" href="javascript:void(0)"
              title="Member Login" onclick="toggleModal('[data-modal-login]')">Member Login</a><a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Products &amp; Services</h4><a class="zuc-footer--link" href="/Zuc/serviceplans" title="Service Plans Parent">Service Plans</a>
            <!--<a class="zuc-footer--link" href="/Zuc/smarterhomecontrol" title="Smarter Home Control">Smarter Home Control</a>--><a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Smarter Home Products">Smarter Home Products</a><a
              class="zuc-footer--link" href="/Zuc/formordersshipping" title="Orders and Returns">Orders &amp; Returns</a><a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products"
              title="Shop Now">Shop Now</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Partners</h4>
            <a class="zuc-footer--link" title="Join as Retailer" href="#/">Smarter Partner</a>
            <!-- <a class="zuc-footer--link" title="Join as Contractor" href="#/">I am a Contractor</a> -->
          </div>
        </div>
        <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
          <div class="zuc-footer--social-icons-secondary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">CANADA-WIDE SHIPPING AVAILABLE.<br />FREE ON ORDERS OVER</span><span class="u-zuc-mint">&nbsp; $39*</span></div>
        </div>
      </div>
    </footer>
    <!-- - Footer SubLinks-->
    <!-- Footer Sub Links-->
    <div class="zuc-footer--copyright flex flex-vert-center">
      <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright&nbsp;&copy;&nbsp;</span><a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span
          class="zuc-footer--copyright-text">&nbsp;2018</span></div>
      <div class="zuc-footer--copyright-menu flex flex-hor-start"><a class="zuc-footer--copyright-text" href="/Zuc/privacypolicy" title="View our Privacy Policy">Privacy Policy</a><span>&bull;</span><a class="zuc-footer--copyright-text"
          href="/Zuc/termsservice" title="View our Terms of Service">Terms of Service</a><span>&bull;</span><a class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Sitemap</a></div>
    </div>
  </footer>
  <div class="zuc-footer--btm-trim"></div>
  <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->
  <script>
    new LTPublicUtils().ShowUI();
  </script>
  <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>
</body>

</body>

</html>