@{
Layout = "~/Views/Shared/_ZucMarketingLayout.cshtml";
ViewBag.Title = "PureCare";
}

<section class="smarter-retailer-container">
  <img src="../../Images/Zuc/images/smart-protection-plan/SmarterPartner_Logo.png" alt="Smarter Partner logo in grey colour." title="Smarter Partner logo." class="center smarter-partner-logo">
  <h1 class="u-font-serif u-zuc-indigo u-text-center u-screenreader">Smarter partner details</h1>
  <div>
    <h4 class="u-text-center margin-top-1 margin-bottom-1">Join Canada's growing network of leading home furnishing retailers who offer product protection plans, complementary service programs and unique products that deliver incredible value for
      you and your customers.</h4>
  </div>
  <div class="zuc-title-flag">
    <div class="--green"></div>
  </div>
  <div class="">
    <h4 class="u-bold u-text-center">Watch the videos and discover the many benefits of becoming a Smarter Partner with ZucoraHome.</h4>
    <div class="two-grid-column-center">
      <div class="video-box">
        <p class="">Why partnering with ZucoraHome is good for business</p>
        <!-- <img src="" alt="" title=""> -->
        <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div>
        <div class="u-screenreader video-link">
          https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_01_INTRO_200117C_720.mp4_baba1717-30fa-450b-a130-af01638a572a.mp4
        </div>
      </div>
      <div class="video-box">
        <p>Grow your business by becoming a Smarter Partner</p>
        <!-- <img src="" alt="" title=""> -->
        <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div>
        <div class="u-screenreader video-link">
          https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_02_SMARTERPARTNER_200117_720.mp4_2f0ad564-e39d-4c5c-a7cc-c3448c75d9ee.mp4
        </div>
      </div>
    </div>
    <div class="margin-top-2 three-grid-column-center">
      <div class="video-box">
        <p>Smarter Product Protection Plans help to retain customers</p>
        <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div>
        <div class="u-screenreader video-link">
          https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_03_SMARTPLANS_200117_720.mp4_f5fad800-ae41-4014-9b1b-2f342fbdc499.mp4
        </div>
      </div>
      <div class="video-box">
        <p>Smarter Living Plans introduce a new revenue stream</p>
        <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div>
        <div class="u-screenreader video-link">
          https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_04_SMARTERLIVING_200117_720.mp4_8f497a89-2865-41e8-b104-dcd0da805228.mp4
        </div>
      </div>
      <div class="video-box">
        <p>Smarter Home Products give you a competitive advantage</p>
        <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div>
        <div class="u-screenreader video-link">
          https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_05_SMARTERPRODUCTS_200117_720.mp4_67e163f1-6456-4ec7-ab95-9bb9e1eb5770.mp4
        </div>
      </div>
    </div>
  </div>
</section>
<div class="video-modal-container modal-container non-visible">
  <div class="video-modal modalCustom">
    <span class="close-modal">X</span>
    <h2></h2>
    <video controls class="modal-video modal-content" autoplay id="clicked-video">
      <source src="" type="video/mp4">
    </video>
  </div>
</div>
<div class="modal-container becomePartner-form-container non-visible">
  <div class="modalCustom becomePartner-form">
    <div class="purple-background flex flex-vert-center flex-hor-between">
      <h2>Become a Smarter partner</h2>
      <span class="close-modal">X</span>
    </div>
    <div class="sps-form-style">
      <!-- <form class="sps-form-style"> -->
      <div class="two-grid-column">
        <div class="column-div">
          <label for="">First name</label>
          <input type="text" name="" value="" placeholder="First Name">
        </div>
        <div class="column-div">
          <label for="">Last Name</label>
          <input type="text" name="" value="" placeholder="Last Name">
        </div>
      </div>
      <div class="column-div">
        <label for="">Email</label>
        <input type="text" name="" value="" placeholder="Email Address">
      </div>
      <div class="column-div">
        <label for="">Phone Number</label>
        <input type="text" name="" value="" placeholder="Phone Number">
      </div>
      <div class="column-div">
        <label for="">Store</label>
        <input type="text" name="" value="" placeholder="Store">
      </div>
      <div class="column-div">
        <label for="">Location</label>
        <input type="text" name="" value="" placeholder="Location">
      </div>
      <!-- radio buttons -->
      <div class="column-div">
        <p>Do you currently offer Product Protection Plans</p>
        <div class="flex flex-vert-start">
          <div class="flex flex-vert-center">
            <input type="radio" name="" value="">
            <label for="">Yes</label>
          </div>
          <div class="flex flex-vert-center">
            <input type="radio" name="" value="">
            <label for="">No</label>
          </div>
        </div>
      </div>
      <!-- <form> -->
      <div class="flex flex-vert-center flex-hor-around margin-top-1 margin-bottom-1">
        <div>
          <button class="zuc-btn zuc-btn-secondary">Cancel</button>
        </div>
        <div>
          <button class="zuc-btn zuc-btn-secondary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thankYou-modal-container modal-container non-visible">
  <div class="thankYou-modal modalCustom">
    <span class="close-modal">X</span>
    <h2>Thank you!</h2>
    <p>Thank you for your submission. A member of the Smarter Partner Team will be in touch with you within 24 hours.</p>
  </div>
</div>
<script type="text/javascript" src="/Scripts/Zuc/js/smarter-partner.js"> </script>