@{
Layout = "~/Views/Shared/_ZucMarketingLayout.cshtml";
ViewBag.Title = "PureCare";
}
<section class="smart-protection-plans-container">
  <h1 class="u-font-serif u-zuc-indigo u-text-center">Smart Product Protection Plans</h1>
  <div class="margin-top-1 margin-bottom-1">
    <h4 class="u-text-center">Smart Product Protection Plans provide excellent coverage combined with the industry’s top-rated customer care when stains, repairs or replacements are required.</h4>
  </div>
  <div class="zuc-title-flag">
      <div class="--green"></div>
  </div>
  <div class="">
    <h4 class="u-bold u-text-center">Select image to view Terms & Conditions for each plan</h4>
    <div class="two-column-smarterPlan">
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart3 Furniture</p>
        <a href="#/" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 3-Furniture.png" alt="Smart 3 Plan Furniture plan image with all details." class="center">
        </a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart3 Appliance</p>
        <a href="#/" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 3-Appliances.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart5 Furniture</p>
        <a href="#/" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 5-Furniture.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart5 Appliance</p>
        <a href="#/" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 5-Appliances.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>

    </div>
    <div class="flex flex-vert-center flex-hor-center margin-top-1">
        <div>
          <p class="u-bold u-text-center u-uppercase">Smart10 Adjustable Lifestyle Base</p>
          <a href="#/" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 10.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
        </div>
      </div>
  </div>
  </section>