<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Zucora Home: Event page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
  <!-- <link href="../../Content/Zuc/styles/SRS-system.css" rel="stylesheet"> -->
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- [ FONTS ]-->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <!-- Site Navigation-->
  <div class="zuc-nav-wrapper srs-nav-container" data-nav-height>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
      <!-- Nav Branding-->
      <a class="zuc-nav-brand" href="#"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- First -->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="~/zuc/planregistration" title="Plan Registration" aria-role="menu-item">Plan Registration</a>
                <a href="~/zuc/planinquiry" title="Plan Registration Inquiry" aria-role="menu-item">Plan Inquiry</a>
                <a href="plan-pending-registrations.html" title="Registration History" aria-role="menu-item">Registration History</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Orders</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="order-entry.html" title="Order Entry" aria-role="menuitem">Entry</a>
                <a href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zuc-nav-dropdown "><i class="fa fa-user-alt"></i><span class="u-uppercase"> @User.Identity.Name</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="~/zuc/retailerprofile">Profile</a>
                <a href="~/Account/Manage">Change Password</a>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span>
        </div>
      </div>
    </nav>
    <!-- Mobile Navigation-->
    <div class="zuc-mobile-nav" data-mobile-menu>
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content">
        <a href="https://zucorahome.com/" title="Zucora Home">
          <img src="~/Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home">
        </a>
      </div>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="~/zuc/planregistration" title="Plan Registration" aria-role="menuitem">Plan Registration</a>
            <a class="zuc-accordion-link" href="~/zuc/planinquiry" title="Plan Registration Inquiry" aria-role="menuitem">Plan Registration Inquiry</a>
            <a class="zuc-accordion-link" href="plan-reporting.html" title="Registration History" aria-role="menuitem">Registration History/a>
          </div>
        </div>
        <!--Orders Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Orders<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="order-entry.html" title="Order Entry" aria-role="menuitem">Order Entry</a>
            <a class="zuc-accordion-link" href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
          </div>
        </div>
        <!--Username Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title"><i class="fa fa-user-alt"></i><i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="~/zuc/retailerprofile" title="Profile" aria-role="menuitem">Profile</a>
            <a class="zuc-accordion-link" href="~/Account/Manage" title="Change Password" aria-role="menuitem">Change Password</a>
            <a class="zuc-accordion-link" href="javascript:document.getElementById('logoutForm').submit()" title="Log Out" aria-role="menuitem">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main page content-->
  <section class="smarter-retailer-container">
    <img src="../../Images/Zuc/images/smart-protection-plan/SmarterPartner_Logo.png" alt="Smarter Partner logo in grey colour." title="Smarter Partner logo." class="center smarter-partner-logo">
    <h1 class="u-font-serif u-zuc-indigo u-text-center u-screenreader">Smarter partner details</h1>
    <div class="width-80 center">
      <h4 class="u-text-center margin-top-1 margin-bottom-1">Join Canada's growing network of leading home furnishing retailers who offer product protection plans, complementary service programs and unique products that deliver incredible value for
        you and your customers.</h4>
    </div>
    <div class="zuc-title-flag">
      <div class="--green"></div>
    </div>
    <div class="">
      <h4 class="u-bold u-text-center">Watch the videos and discover the many benefits of becoming a Smarter Partner with ZucoraHome.</h4>
      <div class="two-grid-column-center">
        <div class="video-box">
          <p class="">Why partnering with ZucoraHome is good for business</p>
          <!-- <img src="../../Images/Zuc/images/smart-protection-plan/zucorahome-team-min.jpg" alt="Zucora home staff picture." title=""> -->
          <!-- <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div> -->
          <div class="video-back1 video-background"></div>
          <div class="flex flex-vert-center flex-hor-center play-icon"><i class="far fa-play-circle"></i></div>
          <div class="u-screenreader video-link">
            https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_01_INTRO_200117C_720.mp4_baba1717-30fa-450b-a130-af01638a572a.mp4
          </div>
        </div>
        <div class="video-box">
          <p>Grow your business by becoming a Smarter Partner</p>
          <!-- <img src="" alt="" title=""> -->
          <div class="video-background video-back2"></div>
          <div class="flex flex-vert-center flex-hor-center play-icon"><i class="far fa-play-circle"></i></div>
          <div class="u-screenreader video-link">
            https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_02_SMARTERPARTNER_200117_720.mp4_2f0ad564-e39d-4c5c-a7cc-c3448c75d9ee.mp4
          </div>
        </div>
      </div>
      <div class="three-grid-column-center">
        <div class="video-box">
          <!-- <p>Smarter Living Plans introduce a new revenue stream</p> -->
          <p>Smarter Living Plans retain customers for life</p>
          <div class="video-background video-back4"></div>
          <div class="flex flex-vert-center flex-hor-center play-icon"><i class="far fa-play-circle"></i></div>
          <!-- <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div> -->
          <div class="u-screenreader video-link">
            https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_04_SMARTERLIVING_200117_720.mp4_8f497a89-2865-41e8-b104-dcd0da805228.mp4
          </div>
        </div>
        <div class="video-box">
          <!-- <p>Smarter Product Protection Plans help to retain customers</p> -->
          <p>Smart Product Protection Plans add value</p>
          <div class="video-background video-back3"></div>
          <div class="flex flex-vert-center flex-hor-center play-icon"><i class="far fa-play-circle"></i></div>
          <div class="u-screenreader video-link">
            https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_03_SMARTPLANS_200117_720.mp4_f5fad800-ae41-4014-9b1b-2f342fbdc499.mp4
          </div>
        </div>
        <div class="video-box">
          <p>Smarter Home Products give you a competitive advantage</p>
          <div class="video-background video-back5"></div>
          <div class="flex flex-vert-center flex-hor-center play-icon"><i class="far fa-play-circle"></i></div>
          <!-- <div class="flex flex-vert-center flex-hor-center margin7"><i class="fas fa-play"></i></div> -->
          <div class="u-screenreader video-link">
            https://zuchomelimetacstorage.blob.core.windows.net/docs/ZUCORA_05_SMARTERPRODUCTS_200117_720.mp4_67e163f1-6456-4ec7-ab95-9bb9e1eb5770.mp4
          </div>
        </div>
      </div>
      <div class="flex flex-vert-center flex-hor-center">
        <button class="zuc-btn zuc-btn-secondary becomeSP-formOpen">Become a Smarter Partner</button>
      </div>
    </div>
  </section>
  <div class="video-modal-container modal-container non-visible">
    <div class="video-modal modalCustom">
      <span class="close-modal">X</span>
      <h2></h2>
      <video controls class="modal-video modal-content" autoplay id="clicked-video">
        <source src="" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="modal-container becomePartner-form-container non-visible">
    <div class="modalCustom becomePartner-form">
      <div class="purple-background flex flex-vert-center flex-hor-between">
        <h2>Become a Smarter partner</h2>
        <span class="close-modal">X</span>
      </div>
      <div class="sps-form-style">
        <!-- <form class="sps-form-style"> -->
        <div class="two-grid-column">
          <div class="column-div">
            <label for="">First name</label>
            <input type="text" name="" value="" placeholder="First Name">
          </div>
          <div class="column-div">
            <label for="">Last Name</label>
            <input type="text" name="" value="" placeholder="Last Name">
          </div>
        </div>
        <div class="column-div">
          <label for="">Email</label>
          <input type="text" name="" value="" placeholder="Email Address">
        </div>
        <div class="column-div">
          <label for="">Phone Number</label>
          <input type="text" name="" value="" placeholder="Phone Number">
        </div>
        <div class="column-div">
          <label for="">Store</label>
          <input type="text" name="" value="" placeholder="Store">
        </div>
        <div class="column-div">
          <label for="">Location</label>
          <input type="text" name="" value="" placeholder="Location">
        </div>
        <!-- radio buttons -->
        <div class="column-div">
          <p>Do you currently offer Product Protection Plans</p>
          <div class="flex flex-vert-start">
            <div class="flex flex-vert-center">
              <input type="radio" name="" value="">
              <label for="">Yes</label>
            </div>
            <div class="flex flex-vert-center">
              <input type="radio" name="" value="">
              <label for="">No</label>
            </div>
          </div>
        </div>
        <!-- <form> -->
        <div class="flex flex-vert-center flex-hor-around margin-top-1 margin-bottom-1">
          <div>
            <button class="zuc-btn zuc-btn-secondary">Cancel</button>
          </div>
          <div>
            <button class="zuc-btn zuc-btn-secondary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="thankYou-modal-container modal-container non-visible">
    <div class="thankYou-modal modalCustom">
      <span class="close-modal">X</span>
      <h2>Thank you!</h2>
      <p>Thank you for your submission. A member of the Smarter Partner Team will be in touch with you within 24 hours.</p>
    </div>
  </div>
  <!-- main page content ends -->
  <footer class="zuc-footer-wrapper">
    <!-- - Footer Links-->
    <footer class="flex flex-hor-center zuc-footer">
      <div class="zuc-footer--brand-section flex flex-column"><a class="zuc-nav-brand" href="/Zuc/index" title="Home"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
        <div class="zuc-footer--social-icons-primary">
          <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
            <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
            <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="zuc-footer-body flex flex-row">
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">About Us</h4><a class="zuc-footer--link" href="/Zuc/formcontactus" title="Contact Us">Contact Us</a><a class="zuc-footer--link" href="/Zuc/ourstory" title="About Us">Our Story</a><a
              class="zuc-footer--link" href="/Zuc/ourstory#our-team" title="Our Team">Our Team</a><a class="zuc-footer--link" href="/Zuc/ourstory#join-us" title="Join Us">Join Us</a>
          </div>
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Member Centre</h4><a class="zuc-footer--link" href="/Zuc/smarterliving" title="What is Smarter Living?">What is Smarter Living?</a><a class="zuc-footer--link" href="javascript:void(0)"
              title="Member Login" onclick="toggleModal('[data-modal-login]')">Member Login</a><a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Products &amp; Services</h4><a class="zuc-footer--link" href="/Zuc/serviceplans" title="Service Plans Parent">Service Plans</a>
            <!--<a class="" href="/Zuc/smarterhomecontrol" title="Smarter Home Control">Smarter Home Control</a>--><a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Smarter Home Products">Smarter Home Products</a><a
              class="zuc-footer--link" href="/Zuc/formordersshipping" title="Orders and Returns">Orders &amp; Returns</a><a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products"
              title="Shop Now">Shop Now</a>
          </div>
        </div>
        <div class="zuc-footer-row flex">
          <div class="flex flex-column flex-vert-start zuc-footer--column">
            <h4 class="zuc-footer--header u-uppercase">Partners</h4>
            <a class="zuc-footer--link" title="Join as Retailer" href="#/">Smarter Partner</a>
            <!-- <a class="" title="Join as Contractor" href="#/">I am a Contractor</a> -->
          </div>
        </div>
        <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
          <div class="zuc-footer--social-icons-secondary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">CANADA-WIDE SHIPPING AVAILABLE.<br />FREE ON ORDERS OVER</span><span class="u-zuc-mint">&nbsp; $39*</span></div>
        </div>
      </div>
    </footer>
    <!-- - Footer SubLinks-->
    <!-- Footer Sub Links-->
    <div class="zuc-footer--copyright flex flex-vert-center">
      <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright&nbsp;&copy;&nbsp;</span><a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span
          class="zuc-footer--copyright-text">&nbsp;2018</span></div>
      <div class="zuc-footer--copyright-menu flex flex-hor-start"><a class="zuc-footer--copyright-text" href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Privacy%20Policy.pdf_86f6e853-c743-4e7a-9d29-a74c69a996dd.pdf"
          title="View our Privacy Policy" target="_blank">Privacy Policy</a><span>&bull;</span><a class="zuc-footer--copyright-text"
          href="https://zuchomelimetacstorage.blob.core.windows.net/docs/202001_Conditions%20of%20Use.pdf_afd556eb-9792-4f36-b821-b81e467fb6e5.pdf" title="View our Terms of Service" target="_blank">Terms of Service</a><span>&bull;</span><a
          class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Sitemap</a></div>
    </div>
  </footer>
  <div class="zuc-footer--btm-trim"></div>
  <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->
  <script>
    // new LTPublicUtils().ShowUI();
  </script>
  <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>
  <script type="text/javascript" src="../../Scripts/Zuc/js/smarter-partner.js">

  </script>
</body>

</body>

</html>