@{
Layout = "~/Views/Shared/_ZucMarketingLayout.cshtml";
ViewBag.Title = "PureCare";
}
<section class="smart-protection-plans-container">
  <h1 class="u-font-serif u-zuc-indigo u-text-center">Smart Product Protection Plans</h1>
  <div class="margin-top-1 margin-bottom-1">
    <h4 class="u-text-center">Smart Product Protection Plans provide excellent coverage combined with the industry's top-rated customer care when stains, repairs or replacements are required.</h4>
  </div>
  <div class="zuc-title-flag">
    <div class="--green"></div>
  </div>
  <div class="">
    <h4 class="u-bold u-text-center">Select image to view Terms & Conditions for each plan</h4>
    <div class="two-column-smarterPlan">
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart3 Furniture</p>
        <a href="https://zuchomelimetacstorage.blob.core.windows.net/docs/Smart%203%20T&Cs%20(1).pdf_19a47e3d-8727-4b00-833d-c9b282ceae8c.pdf" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 3-Furniture.png"
            alt="Smart 3 Plan Furniture plan image with all details." class="center">
        </a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart3 Appliance</p>
        <a href="https://zuchomelimetacstorage.blob.core.windows.net/docs/Smart%203%20Appliance%20T&Cs%20(1).pdf_2c49a94d-1846-4359-8dc6-710e19ea13e3.pdf" target="_blank"><img
            src="../../Images/Zuc/images/smart-protection-plan/Smart 3-Appliances.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart5 Furniture</p>
        <a href="https://zuchomelimetacstorage.blob.core.windows.net/docs/Smart%205%20T&Cs%20(1).pdf_ea4e9a68-f1e9-4681-b664-bed440982156.pdf" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 5-Furniture.png"
            alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart5 Appliance</p>
        <a href="https://zuchomelimetacstorage.blob.core.windows.net/docs/Smart%205%20Appliance%20T&Cs%20(1).pdf_d30c5853-a99e-43d2-a621-0ced87632613.pdf" target="_blank"><img
            src="../../Images/Zuc/images/smart-protection-plan/Smart 5-Appliances.png" alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>

    </div>
    <div class="flex flex-vert-center flex-hor-center margin-top-1">
      <div>
        <p class="u-bold u-text-center u-uppercase">Smart10 Adjustable Lifestyle Base</p>
        <a href="https://zuchomelimetacstorage.blob.core.windows.net/docs/Smart%2010%20T&Cs%20(2).pdf_eb1d80f0-07b3-4095-9783-e790e556c37e.pdf" target="_blank"><img src="../../Images/Zuc/images/smart-protection-plan/Smart 10.png"
            alt="Smart 3 Plan Furniture plan image with all details." class="center"></a>
      </div>
    </div>
  </div>
</section>
