@{ Layout = "~/Views/Shared/_ZucEcomFrame.cshtml"; }
    <!-- Site Navigation-->
    <div class="zuc-nav-wrapper" data-nav-height>
      <!-- Mobile Navigation-->
      <!-- User Navigation-->
      <div class="zuc-nav-user flex flex-hor-between flex-vert-center u-uppercase">
        <!-- Slogan-->
        <div class="zuc-nav-slogan u-normal">CANADA-WIDE SHIPPING AVAILABLE. FREE ON ORDERS OVER<span class="u-zuc-mint">$39*</span></div>
        <!--Nav Links-->
        <div class="zuc-user-links flex flex-hor-start flex-hor-between flex-vert-center">
          <a href="/Zuc/ourstory" style="text-transform: uppercase;color:white;">About us</a>
          <a href="https://www.zucorahomeblog.com/" style="text-transform: uppercase;color:white;">Blog</a>
          <!-- Login - Logged Out State--><a class="zuc-user-login flex flex-vert-center u-bold u-auth-hide" href="javascript:void(0)" title="Member Login" onclick="toggleModal('[data-modal-login]')">
            <!-- Logged Out State--><i class="fas fa-lock u-auth-hide"></i><span class="u-auth-hide">Login</span></a>
          <!-- Account - Logged In State--><a class="zuc-user-login flex flex-vert-center u-bold u-auth-show" href="#" title="My Account">
            <!-- Logged In state--><i class="fas fa-user u-auth-show"></i><span class="u-auth-show">Account</span></a>
         
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
        <!-- Nav Branding--><a class="zuc-nav-brand" href="/Zuc/index"><img src="/Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
        <!-- Nav Links-->
        <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
          <!-- Nav Dropdown--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
          <!-- Smarter Living Link -------------------------------->
          <div class="zuc-nav-dropdown"><span class="u-uppercase">What Is Smarter Living?</span>
            <!-- Drop Down-->
            <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
              <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                <!-- Dropdown Links-->
                <div class="zuc-dropdown-column"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Smarter Living Benefits</a><!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>--></div>
                <!-- Dropdown Images-->
                <div class="zuc-dropdown-column zuc-dropdown-images">
                  <!-- Column Content-->
                  <p>Smarter Living is about making choices that make life more comfortable and convenient.</p><img src="/Images/Zuc/images/nav/smarter-living.png" alt="A smiling couple">
                </div>
              </div>
            </div>
          </div>
          <!-- Service Plans --------------------------------------->
          <div class="zuc-nav-dropdown"><span class="u-uppercase">Service Plans</span>
            <!-- Drop Down-->
            <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
              <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                <!-- Dropdown Links-->
                <div class="zuc-dropdown-column"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
                <!-- Dropdown Images-->
                <div class="zuc-dropdown-column zuc-dropdown-images">
                  <!-- Column Content-->
                  <p>The Smarter Living Plan offers you comprehensive, budget friendly service coverage for your furniture, major appliances, and home-comfort systems.</p><img src="/Images/Zuc/images/nav/service-plans.png" alt="A service person with toolbag">
                </div>
              </div>
            </div>
          </div>
          <!-- Smarter Home Products --------------------------------->
          <div class="zuc-nav-dropdown"><span class="u-uppercase">SMARTER HOME PRODUCTS</span>
            <!-- Drop Down-->
            <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
              <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                <!-- Dropdown Links-->
                <div class="zuc-dropdown-column"><a href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a><a href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop All Products" aria-role="menuitem">Shop all products</a></div>
                <!-- Dropdown Images-->
                <div class="zuc-dropdown-column zuc-dropdown-images">
                  <!-- Column Content-->
                  <p>Empower your quest for a clean home and healthy family with Zucora Home's environmentally-responsible products.</p><img src="/Images/Zuc/images/nav/smarter-home-products.png" alt="A furnished living room">
                </div>
              </div>
            </div>
          </div>
          <!-- Shop Now --------------------------------->
          <div class="zuc-nav-dropdown --clickme"><a class=" u-uppercase" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Zucora Home Products">Shop Now</a></div>
        </div>
        
        <!-- Mobile Nav Button-->
        <div class="zuc-menu">
          <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span></div>
        </div>
      </nav>
      <!-- Mobile Navigation-->
      <!-- Mobile Only Nav ------------------------>
      <div class="zuc-mobile-nav" data-mobile-menu>
        <!-- Top Branding CTA-->
        <div class="zuc-mobile-nav-content"><a href="/Zuc/index" title="Zucora Home"><img src="/Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home"></a>
          <!-- Primary CTA Button--><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
        </div>
        <!-- Accordion Nav ------------------------------------------>
        <div class="zuc-accordion-nav" role="menu" aria-role="menu">
          <!--About Links ---------------------------------->
          <div class="zuc-accordion-item" data-accordion-item>
            <div class="zuc-accordion-title">About Us<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
            <!-- Hidden Content-->
            <div class="zuc-accordion-hidden" aria-hidden="true">
              <a class="zuc-accordion-link" href="/Zuc/community" title="Community contribution" aria-role="menuitem">Community</a>
              <a class="zuc-accordion-link" href="/Zuc/formcontactus" title="Contact Us" aria-role="menuitem">Contact Us</a>
              <a class="zuc-accordion-link" href="/Zuc/joinzucora" title="Join Us" aria-role="menuitem">Careers</a>
              <a class="zuc-accordion-link" href="/Zuc/culture" title="ZucoraHome Office Culture" aria-role="menuitem">Our Culture</a>
              <a class="zuc-accordion-link" href="/Zuc/ourstory" title="About ZucoraHome" aria-role="menuitem">Our Story</a>
              <a class="zuc-accordion-link" href="/Zuc/ourstory#our-team" title="Our Team" aria-role="menuitem">Our Team</a>
            </div>
          </div>
          <!-- Smarter Living Links ---------------------------------->
          <div class="zuc-accordion-item" data-accordion-item>
            <div class="zuc-accordion-title">What Is Smarter Living?<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
            <!-- Hidden Content-->
            <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/smarterliving" title="Learn more about smarter living." aria-role="menuitem">Smarter Living Plans</a><a href="/Zuc/smarterlivingmembershipbenefits" title="What is Smarter living." aria-role="menuitem">Smarter Living Benefits</a><!--<a href="/Zuc/smarterhomecontrol" title="Smart Home Products" aria-role="menuitem">Smarter Home Control</a>--></div>
          </div>
          <!-- Service Plans Links ---------------------------------->
          <div class="zuc-accordion-item" data-accordion-item>
            <div class="zuc-accordion-title">Service Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
            <!-- Hidden Content-->
            <div class="zuc-accordion-hidden" aria-hidden="true"><a href="/Zuc/serviceplansfurniture" title="Learn more about furniture coverage" aria-role="menuitem">Furniture plan</a><a href="/Zuc/serviceplansappliance" title="Learn more about appliance coverage" aria-role="menuitem">Appliances Plan</a><a href="/Zuc/serviceplanshomesystems" title="Learn more about home systems coverage" aria-role="menuitem">Home Systems Plan</a><a href="/Zuc/serviceplans" title="View our bundles &amp; combos" aria-role="menuitem">See all Bundles &amp; Combos</a></div>
          </div>
          <!-- Home Care Links ---------------------------------->
          <div class="zuc-accordion-item" data-accordion-item>
            <div class="zuc-accordion-title">Smarter Home Products<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
            <!-- Hidden Content-->
            <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="/Zuc/smarterhomeproducts" title="Learn about our approach to home wellness" aria-role="menuitem">Smarter Living Solutions</a><a class="zuc-accordion-link" href="/Zuc/zucollection" title="View our line of home care products" aria-role="menuitem">ZU Collection</a><a class="zuc-accordion-link" href="/Zuc/purecare" title="View our line of sleep wellness products" aria-role="menuitem">PureCare</a><a class="zuc-accordion-link" href="/Zuc/furniturecare" title="Learn more about our home wellness care kits" aria-role="menuitem">Furniture Care</a><a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="View our whole line of offerings" aria-role="menuitem">Shop all products</a></div>
          </div>
          <!-- Member Centre Links ---------------------------------->
          <div class="zuc-accordion-item" data-accordion-item>
            <div class="zuc-accordion-title">Member Centre<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
            <!-- Hidden Content-->
            <div class="zuc-accordion-hidden" aria-hidden="true"><a class="zuc-accordion-link" href="#" title="Learn more about smarter living." aria-role="menuitem">Member Login</a>
              <!--a(class="zuc-accordion-link" href='#' title='Learn about the benefits of Smarter Living' aria-role='menuitem')|Redeem Rewards
              -->
              <!--a(class="zuc-accordion-link" href='#' title='TODO' aria-role='menuitem')|Blog
              --><a class="zuc-accordion-link" href="/Zuc/faq" title="Frequently Asked Questions" aria-role="menuitem">FAQ</a>
            </div>
          </div>
          <!-- Shop Now ---------------------------------->
           <!-- <div class="zuc-accordion-item" data-accordion-item> Removing div so that it can be clickable on mobile. -->
            <a class="zuc-accordion-link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Now" style="display: block;">Shop Now</a>
          <!-- </div> -->
        </div>
        <div class="zuc-menu" data-open-menu>
          <div class="zuc-menu-open close" role="button" aria-label="Mobile Navigation Toggle"><span class="hidden" aria-hidden="true" aria-label="Click to toggle mobile menu">Mobile Menu</span></div>
        </div>
        <!-- Social Icons-->
        <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
          <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
          <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
          <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <!-- Broadcast Banner-->
      <div class="zuc-nav-broadcast flex flex-hor-between flex-vert-center" data-broadcast-banner>
        <div class="zuc-broadcast-text u-truncate u-bold">Suggested editable broadcast banner that you can turn on/off for promos &amp; customer care outages.</div>
        <div class="zuc-broadcast-close" onclick="closeBroadcast()"><i class="fas fa-times"></i></div>
      </div>
    </div>
    <!-- Login Modal-->
    <!-- Modal Container-->
    <div class="zuc-modal" data-modal-login onclick="toggleModal('[data-modal-login]')">
      <!-- Modal Content-->
      <div class="zuc-modal-content" onclick="event.stopPropagation()">
        <!-- Place Modal Content Here-->
        <div class="zuc-modal-title u-text-center">Smarter Living</div>
        <div class="zuc-modal-subtitle u-text-center">Member login</div>
        <!-- User Email-->
        <div class="zuc-input-group">
          <div class="zuc-input-name">Email address</div>
          <label class="u-screenreader" for="field-email">Email address</label>
          <input type="text" required data-required id="field-email" name="email" placeholder="Email address">
        </div>
        <!-- User Password-->
        <div class="zuc-input-group">
          <div class="zuc-input-name">Password</div>
          <label class="u-screenreader" for="field-password">User Password</label>
          <input type="password" required data-required name="password" placeholder="Password"><a class="zuc-input-link" href="/Zuc/formforgotpassword" title="Password Reset">I need help with my&nbsp;<span class="u-highlight">password</span></a>
        </div>
        <!-- Submit Button-->
        <button class="zuc-btn zuc-btn-secondary --full-width">Login</button><a class="zuc-register zuc-input-link u-text-center" href="#" title="Become a Member" style="display:block">I want to become a<span class="u-highlight">&nbsp;Smarter Living Member</span></a>
      </div>
    </div>
    @RenderBody()
    <!-- Site Footer-->
    <footer class="zuc-footer-wrapper">
      <!-- - Footer Links-->
      <footer class="flex flex-hor-center zuc-footer">
        <div class="zuc-footer--brand-section flex flex-column"><a class="zuc-nav-brand" href="/Zuc/index" title="Home"><img src="/Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
          <div class="zuc-footer--social-icons-primary">
            <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
              <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
              <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
              <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="zuc-footer-body flex flex-row">
          <div class="zuc-footer-row flex">
            <div class="flex flex-column flex-vert-start zuc-footer--column">
              <h4 class="zuc-footer--header u-uppercase">About Us</h4>
              <a class="zuc-footer--link" href="/Zuc/community" title="Community contribution">Community</a>
              <a class="zuc-footer--link" href="/Zuc/formcontactus" title="Contact Us">Contact Us</a>
              <a class="zuc-footer--link" href="/Zuc/joinzucora" title="Join Us">Careers</a>
              <a class="zuc-footer--link" href="/Zuc/culture" title="ZucoraHome Office Culture">Our Culture</a>
              <a class="zuc-footer--link" href="/Zuc/ourstory" title="About Us">Our Story</a>
              <a class="zuc-footer--link" href="/Zuc/ourstory#our-team" title="Our Team">Our Team</a>
            </div>
            <div class="flex flex-column flex-vert-start zuc-footer--column">
              <h4 class="zuc-footer--header u-uppercase">Member Centre</h4><a class="zuc-footer--link" href="/Zuc/smarterliving" title="What is Smarter Living?">What is Smarter Living?</a><a class="zuc-footer--link" href="javascript:void(0)" title="Member Login" onclick="toggleModal('[data-modal-login]')">Member Login</a><a class="zuc-footer--link" href="/Zuc/faq" title="Frequently Asked Questions">FAQ</a>
            </div>
          </div>
          <div class="zuc-footer-row flex">
            <div class="flex flex-column flex-vert-start zuc-footer--column">
              <h4 class="zuc-footer--header u-uppercase">Products &amp; Services</h4><a class="zuc-footer--link" href="/Zuc/serviceplans" title="Service Plans Parent">Service Plans</a><!--<a class="zuc-footer--link" href="/Zuc/smarterhomecontrol" title="Smarter Home Control">Smarter Home Control</a>--><a class="zuc-footer--link" href="/Zuc/smarterhomeproducts" title="Smarter Home Products">Smarter Home Products</a><a class="zuc-footer--link" href="/Zuc/formordersshipping" title="Orders and Returns">Orders &amp; Returns</a><a class="zuc-footer--link" href="http://prod-webstore-v00-1032646173.us-east-1.elb.amazonaws.com/all-products" title="Shop Now">Shop Now</a>
            </div>
          </div>
          <div class="zuc-footer--zuc-footer-right zuc-footer--column"><a class="zuc-btn zuc-btn-primary" href="/Zuc/formservicerequest" title="Service Request">Service Request</a>
            <div class="zuc-footer--social-icons-secondary">
              <div class="zuc-mobile-social flex flex-row flex-hor-center flex-vert-center">
                <!-- Facebook--><a class="zuc-social-link" target="_blank" href="https://www.facebook.com/zucorahomesmarterliving/" title="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
                <!-- Instagram--><a class="zuc-social-link" target="_blank" href="https://www.instagram.com/zucorahome/" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
                <!-- LinkedIn--><a class="zuc-social-link" target="_blank" href="https://www.linkedin.com/company/zucora-inc-/" title="Follow us on LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="zuc-shipping-blurb"><span class="u-zuc-platinum">CANADA-WIDE SHIPPING AVAILABLE.<br/>FREE ON ORDERS OVER</span><span class="u-zuc-mint">&nbsp; $39*</span></div>
          </div>
        </div>
      </footer>
      <!-- - Footer SubLinks-->
      <!-- Footer Sub Links-->
      <div class="zuc-footer--copyright flex flex-vert-center">
        <div class="zuc-footer--copyright-title"><span class="zuc-footer--copyright-text">Copyright&nbsp;&copy;&nbsp;</span><a class="zuc-footer--copyright-text" href="/Zuc/index" title="Zucora Home">Zucora Inc.</a><span class="zuc-footer--copyright-text">&nbsp;2018</span></div>
        <div class="zuc-footer--copyright-menu flex flex-hor-start"><a class="zuc-footer--copyright-text" href="/Zuc/privacypolicy" title="View our Privacy Policy">Privacy Policy</a><span>&bull;</span><a class="zuc-footer--copyright-text" href="/Zuc/termsservice" title="View our Terms of Service">Terms of Service</a><span>&bull;</span><a class="zuc-footer--copyright-text" href="/Zuc/sitemap" title="View our Sitemap">Sitemap</a></div>
      </div>
    </footer>
    <div class="zuc-footer--btm-trim"></div>
    @*@{ Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@