.sr-only {
    display: none
}

.center {
    display: block;
    margin: 0 auto
}

.margin-top-5 {
    margin-top: 5vw
}

.margin-bottom-1 {
    margin-bottom: 1em
}

.margin-bottom-2 {
    margin-bottom: 2em
}

.margin-top-1 {
    margin-top: 1em
}

.margin-top-2 {
    margin-top: 2em
}

.non-visible {
    display: none
}

.width-80 {
    width: 80%;
    position: relative;
}

.smarterLiving-logo {
    width: 40%;
    margin-bottom: 1em
}

.zuc-modal .zuc-modal-subtitle {
    font-size: 1em;
    margin-top: 10px
}

.member-login>.zuc-input-group {
    width: 80%;
    margin-bottom: 1em
}

.member-login>.zuc-input-group>.zuc-input-name {
    color: #36384b
}

.member-login>.zuc-input-group>input[type=date],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],input[type=number] {
    width: 100%;
    height: 50px;
    border: 2px solid #54565a;
    border-radius: 10px;
    background-color: #fbfbfb;
    color: #898a8d;
    font-family: aktiv-grotesk, Helvetica, sans-serif;
    padding: 10px
}

.member-login>.zuc-input-group>.zuc-input-link {
    text-align: left;
    color: #36384b;
    margin-top: 5px
}

.member-login>.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row
}

.remember-me {
    width: 80%;
    margin-left: 2.5em
}

.remember-me>input {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    font-family: aktiv-grotesk, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0 auto
}

.square-radio {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.5vw;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.square-radio>input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0
}

.square-radio:hover input~.checkmark {
    background-color: #ccc
}

.square-radio input:checked~.checkmark {
    border: 2px solid #434da0;
    background-color: #fff
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.remember-me input:checked~.checkmark:after {
    display: block
}

.remember-me .checkmark:after {
    top: 6.5px;
    left: 6.5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #434da0
}

.jobPostings {
    width: 60%;
    margin: 0 auto
}

.jobPostings h5 {
    font-size: 2em
}

.jobPostings .u-text-uppercase {
    text-transform: uppercase
}

.jobPostings p,
.jobPostings ul li {
    font-size: 1.125rem;
    line-height: 1.5
}

.purple-arrows {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: relative;
    top: 1.5vw;
    width: 7%;
    left: 2vw
}

.tip {
    display: block;
    width: 1px;
    border-left: 20px solid rgba(255, 255, 255, 0);
    border-right: 20px solid rgba(255, 255, 255, 0);
    border-bottom: 30px solid #fff;
    position: absolute
}

.value-text-shadow {
    margin-bottom: 3em;
    box-shadow: 0 0 30px 0 #888;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff
}

#value-text {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: 600;
    font-size: 1.15em
}

.values-container {
    margin-top: 10vw
}

.values-container .zuc-sixgrid-container {
    padding: 0 16vw
}

.our-values .zuc-sixgrid-item {
    width: 20%;
    text-align: center;
    padding: 0 0 2vw
}

.our-values .zuc-sixgrid-item img {
    width: 80%
}

.commitments {
    width: 100%;
    height: auto
}

.commitments .zuc-sixgrid-container {
    margin-top: 2em
}

.commitments>.zuc-title-container>h4 {
    font-size: 1.5em
}

.commitments section.zuc-sixgrid-container {
    margin-top: 10vw
}

.commitments>h2.u-zuc-indigo {
    margin-bottom: 1em
}

.commitment-featured-content p {
    margin-top: 1em
}

.circle {
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: #434da0;
    color: #fff;
    text-align: center;
    font: 50px Arial, sans-serif;
    font-weight: 700
}

.circle:hover {
    cursor: pointer
}

.plus-sign {
    line-height: 1em
}

.minus-sign {
    line-height: .8em;
    margin-bottom: 10px
}

.main-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 4vw
}

.gallery-arrow>a>i {
    color: #434da0;
    font-weight: 700
}

.gallery-image>img {
    width: 100%
}

.gallery-text>.subtext-team {
    font-size: 22px;
    font-weight: 500;
    font-style: italic
}

.gallery-title {
    color: #434da0;
    font-family: PublicoHeadline;
    font-weight: 700
}

.gallery-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.1em
}

.gallery-info>p {
    font-size: 1.25em;
    margin-top: 1em
}

.gallery-info>a>i {
    font-size: 2em;
    margin-top: .95em;
    color: #0077b5
}

.thumbnails {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-left: 0!important
}

.low-opacity {
    opacity: .6
}

.thumb-active {
    box-shadow: 3px 7px 10px #888;
    opacity: 1
}

.thumbnail {
    padding: 0!important;
    height: 100px;
    border: 1px solid #fff
}

.more-page-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-page-links>a {
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 600;
    color: #a3acff
}

.more-page-links>a:hover {
    color: #fff;
    background-color: #434da0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out
}

.aboutUs.zuc-footer-wrapper {
    margin-top: 0
}

.background-image {
    width: 100%;
    max-width: 100%;
    position: relative
}

.culture-hero {
    background: url(/Images/Zuc/images/culture/zucorians-culture-1.jpg) top center no-repeat;
    background-size: contain
}

.culture-text {
    width: 70%;
    position: relative;
    bottom: 15em
}

.culture-text h1 {
    color: #434da0;
    font-family: PublicoHeadline, aktiv-grotesk, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center
}

.culture-text p {
    text-align: center;
    font-size: 21px;
    font-family: aktiv-grotesk, Helvetica, sans-serif;
    padding: 1em;
    color: #36384b;
    line-height: 30px
}

.two-columns {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.column-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em
}

.culture-boxShadow {
    box-shadow: 1px 5px 12px #888
}

.scroll-gallery-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 80%
}

.slider-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.slider-container .left-slide,
.slider-container .right-slide {
    width: auto;
    position: relative;
    z-index: 100
}

.slider-container .left-slide {
    left: 2%
}

.slider-container .left-slide img,
.slider-container .right-slide img {
    width: 60px
}

.slider-container .right-slide {
    right: 2%
}

.slider-gallery {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex!important;
    justify-content: center;
    align-items: center
}

.slider-gallery .slider-image {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px
}

.slick-slide img {
    margin: 0 auto;
    width: 95%;
}

.community-hero {
    background: url(/Images/Zuc/images/community/community-banner.jpg) top center no-repeat;
    background-size: contain;
}

.bottom-5 {
    position: relative;
    bottom: 5em;
}

.organization-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    grid-gap: 2em 1em;
    max-width: 100%
}

.org-logo {
    width: 80%;
    min-height: 300px;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center
}

.org-logo img {
    width: 90%;
    display: table-cell;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    vertical-align: middle
}

.org-logo>.width-60 {
    width: 60%
}

.joinZucora-hero {
    background: url(/Images/Zuc/images/join-zucora/joinbanner.jpg) top center no-repeat;
    background-size: contain;

}

.join-box {
    width: 50%;
    position: relative;
    z-index: 100;
    padding: 5em
}

.join-box>div {
    text-align: center
}

.zucora-website {
    color: #434da0;
    font-family: PublicoHeadline, aktiv-grotesk, Helvetica, sans-serif;
    font-size: 4em;
    text-align: center
}

.perks-container {
    bottom: 20em
}

.perks-boxes {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 4em 10px;
    justify-content: center;
    margin-top: 3em;
    align-items: flex-start
}

.box-item {
    width: 90%;
    height: 100%;
    display: grid;
    box-shadow: 0 0 80px rgba(0, 0, 0, .3)
}

.box-item img {
    display: block;
    margin: 0 auto;
    padding: 2em;
    max-width: 100%
}

.box-item h3 {
    background-color: #434da0;
    color: #fff;
    font-family: PublicoHeadline, aktiv-grotesk, Helvetica, sans-serif;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    padding: 13px
}

.jobOpening-box {
    width: 80%;
    display: block;
    margin: 2em auto;
    padding: 2em
}

.jobOpening-box h3 {
    font-size: 48px;
    color: #434da0;
    font-family: "Publico Headline", aktiv-grotesk, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 0
}

.jobOpening-box p {
    color: #5e5f6e;
    font-family: "Aktiv Grotesk";
    font-weight: 500;
    font-size: 1.75em;
    margin-bottom: 1em
}

.jobOpening-box a {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    color: #64eeb0
}
/*New Smarter Protection Plan page*/
.smart-protection-plans-container,.smarter-retailer-container{
    margin:7% auto;
    padding:0 2em;
    width:85%;
}

.smart-protection-plans-container .zuc-title-flag, .smarter-retailer-container .zuc-title-flag{
    margin:2em auto;
    width: 5em;
}

.two-column-smarterPlan{
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-gap:2.5em 2.5em;*/
    grid-row-gap: 2em;
    align-content: center;
    justify-content: center;
    margin-top: 2em;
}

.two-column-smarterPlan h3{
    font-family: aktiv-grotesk,Helvetica,sans-serif;
}
.smart-protection-plans-container h4,.smarter-retailer-container h4{
    line-height: 27px;
}

.smarter-partner-logo{
    width:32%;
    height: auto;
}

.two-grid-column-center{
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    justify-content: center;
    /* padding:1em 20%; */
}

.video-box{
    width:90%;
    /* width:400px; */
    height:400px;
    background-color: white;
    margin:0 auto;
    cursor: pointer;
    box-shadow: 0 0.1vw 3.43vw 0 hsla(0,0%,5%,.2);
    -webkit-shadow: 0 0.1vw 3.43vw 0 hsla(0,0%,5%,.2);
}

.video-box p{
    background-color: #434da0;
    color: white;
    padding:10px;
    font-family: aktiv-grotesk,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    min-height: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play{
  font-size:4em;
  color:#434da0;
}
.margin7{
  margin:7em auto;
}
.three-grid-column-center{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  align-content: center;
  justify-content: center;
  /* padding:1em 15%; */
}

.modal-container{
  position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalCustom{
    border: 2px solid #36384B;
    background: white;
    width: 70%;
    margin: 15% auto;
    padding:1em;
}

.modalCustom .close-modal{
  font-size: 1.5em;
    padding: 14px;
    color: #70E9B2;
    content: 'X';
    float: right;
    color: #70E9B2;
    font-weight: 300;
    cursor: pointer;
    font-family: cursive;
}
.modal-content{
  position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.modalCustom h2{
  font-family: "PublicoHeadline", aktiv-grotesk, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 3em;
    color: #434DA0;
    text-align: center;
    padding: 12px;
}
.purple-background{
  background-color: #434DA0;
}

.becomePartner-form-container{

}
.becomePartner-form{
  padding:0;
  width:40%;
}

.purple-background h2{
  color: white;
  font-size: 18px;
  padding: 1em;
  font-family: "aktiv-grotesk", Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0;
}

.sps-form-style{
  margin:0 auto;
  padding:1em;
  width: 70%;
}

.sps-form-style .column-div{
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  align-content: flex-start;
  justify-content: flex-start;
  padding:5px 0;
}
.column-div label{
    font-family: "aktiv-grotesk", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-left:5px;
}

.column-div input, .column-div select{
  height: 50px;
  color:#36384B;
  padding:10px;
  border: 2px solid #36384B;
  width: 95%;
  font-size: 16px;
  font-family: "aktiv-grotesk", Helvetica, sans-serif;
  border-radius: 10px;
  height: 50px;
}

.column-div input{
  background-color: #FFFFFF;
}

.column-div select{
  background-color: #A3ACFF;
}
.column-div input[type="radio"]{
  width:25px;
  height: 25px;
  margin:5px;
}
.two-grid-column{
  display: grid;
  grid-template-columns: 52% 45%;
  align-items: center;
}
@media only screen and (min-width:641px) and (max-width:1024px) {
    .our-values .zuc-sixgrid-item img {
        width: 60%
    }
    .background-image {
        height: 600px
    }
    .culture-gallery-title>h2 {
        font-size: 2em
    }
    .org-logo {
        height: auto;
        min-height: auto
    }
    .org-logo .width-60 {
        width: 80%
    }
}

@media only screen and (min-width:641px) and (max-width:1024px) and (orientation:portrait) {
    .our-values .zuc-sixgrid-item img {
        width: 60%
    }
    .values-container {
        margin-top: 17vw
    }
    .background-image {
        height: 600px
    }
    .org-logo {
        height: auto;
        min-height: auto
    }
    .org-logo .width-60 {
        width: 80%
    }
}

@media only screen and (max-width:767px) {
    .zuc-modal-logo {
        width: 80%
    }
    .member-login>.form-buttons {
        flex-direction: column
    }
    .thumbnails {
        display: none
    }
    .gallery-text {
        padding: 0 2em
    }
    .left-side-image {
        flex-flow: column nowrap
    }
    .right-side-image {
        flex-flow: column-reverse nowrap
    }
    .commitment-featured-content,
    .commitment-featured-image {
        width: 100%;
        padding: 0
    }
    .commitment-featured-image>img {
        max-width: 100%
    }
    .commitment-featured-content {
        padding: 0 1em;
        margin-top: 1em
    }
    .show-for-mobile-only {
        display: block
    }
    .tip {
        display: none
    }
    #value-text {
        display: none;
        opacity: 0
    }
    .gallery-arrow>a>i {
        font-size: 3em
    }
    .main-info {
        justify-content: space-around
    }
    .imageGallery-display {
        display: grid;
        width: 60%;
        justify-content: center;
        align-items: center
    }
    .our-values .zuc-sixgrid-item {
        width: 35%
    }
    .values-container>h2 {
        margin-top: 1em
    }
    .more-page-links{
        flex-direction: column;
    }
    .background-image {
        height: 380px
    }
    .culture-text {
        bottom: 8em;
        width: 100%
    }
    .width-80 {
        width: 90%
    }
    .two-column-container {
        bottom: 5em
    }
    .two-columns {
        display: flex;
        flex-direction: column
    }
    .scroll-gallery-container {
        flex-direction: column;
        position: relative;
        bottom: 2em;
        width: 90%;
        display: block;
        margin: 0 auto
    }
    .scroll-gallery {
        margin-top: 2em
    }
    .scroll-gallery>.left-slide>a>img,
    .scroll-gallery>.right-slide>a>img {
        width: 100%
    }
    .organization-container {
        grid-template-columns: auto;
        padding: 1em
    }
    .organization-container>.culture-gallery-title {
        padding: 1em
    }
    .join-box {
        width: 100%;
        position: relative;
        bottom: 10em;
        z-index: 100;
        padding: 3em
    }
    .perks-container {
        bottom: 0;
        text-align: center
    }
    .perks-container>.zuc-title-container {
        justify-content: center
    }
    .perks-boxes {
        grid-template-columns: auto
    }
    .hiring-container {
        margin-top: 2em
    }
    .hiring-container>.zucora-website {
        font-size: 30px;
        font-weight: 500
    }
    .smart-protection-plans-container{
        margin-top:25%;
    }

    .two-column-smarterPlan{
        grid-template-columns: 100%;
    }
    .smart-protection-plans-container,.smarter-retailer-container{
        width:100%;
    }
    .two-grid-column-center, .three-grid-column-center{
      grid-template-columns: 100%;
    }

    .video-box{
      width:100%;
      max-width: 100%;
      margin:1em 0;
    }

    .modalCustom{
      margin: 25% auto;
      width: 95%;
    }

    .modalCustom h2{
      font-size: 20px;
      text-align: center;
    }
}

@media only screen and (min-width:768px) {
    .show-for-mobile-only {
        display: none
    }
    .left-side-image,
    .right-side-image {
        flex-flow: row wrap
    }
    .commitment-featured-image {
        width: 50%
    }
    .commitment-featured-image>img {
        width: 100%;
        max-width: 100%
    }
    .commitment-featured-content {
        width: 50%;
        padding: 0 2em
    }
    .tip-1 {
        top: -40%;
        left: 9%
    }
    .gallery-image {
        padding: 1em
    }
    .gallery-info {
        display: block;
        padding: 1em
    }
    .team-gallery>.gallery-text {
        width: 65%;
        margin: 0 auto
    }
    .thumbnail:hover {
        cursor: pointer;
        opacity: 1;
        transition: opacity .2s ease-in
    }
    .thumbnail>img {
        width: 100px
    }
    .more-page-links {
        flex-direction: row;
    }
    .gallery-arrow>a>i {
        font-size: 6em
    }
    .imageGallery-display {
        display: grid;
        width: 70%;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center
    }
    .scroll-gallery-container {
        margin-top: 3em
    }
    .three-slider>img {
        margin: 0 10px
    }
    .culture-gallery-title {
        padding-left: 1em
    }
    .culture-gallery-title>.zuc-title-container {
        justify-content: flex-end
    }
    .culture-gallery-title h2 {
        text-align: right
    }
    .two-column-container {
        bottom: 10em
    }
    .scroll-gallery-container {
        position: relative;
        bottom: 3em
    }
    .organization-container {
        margin-top: 5em
    }
    .join-box {
        width: 50%;
        box-shadow: 0 2px 68px 0 hsla(0, 0%, 5%, .2);
        position: relative;
        bottom: 30em;
        background-color: #fff;
        z-index: 100;
        padding: 5em
    }
    .becomeZucorian-container>.culture-text {
        bottom: 25em
    }
    .hiring-container {
        bottom: 10em
    }
}

@media only screen and (min-width:1024px) {
    .imageGallery-display {
        display: grid;
        width: 60%;
        grid-template-columns: 40% 50%;
        justify-content: center;
        align-items: center
    }
    .two-column-smarterPlan{
        padding:1em 6em;
    }

}

@media only screen and (min-width:1025px) and (max-width:1440px) {
    .our-values .zuc-sixgrid-item img {
        width: 70%
    }
    section.zuc-sixgrid-container {
        padding: 0 16vw
    }
    .values-container {
        margin-top: 13vw
    }
    .background-image {
        height: 800px
    }
    .two-column-smarterPlan{
        padding:1em 6em;
    }
}

@media only screen and (min-width:1441px) {
    .our-values .zuc-sixgrid-item img {
        width: 70%
    }
    .values-container {
        margin-top: 10vw
    }
    .background-image {
        height: 1100px;
        background-size: cover
    }
    .two-column-smarterPlan{
        padding:1em 25em;
    }

    .two-grid-column-center .video-box{
      /* width:400px; */
      /* max-width: 100%; */
      margin-top:1em;
    }

    .two-grid-column-center{
      padding:1em 10%;
    }
}

@media screen and (min-width:1980px) and (max-width:2399px) {
    .background-image {
        background-size: cover;
        height: 1100px
    }
    .joinZucora-hero.background-image {
        height: 1200px
    }
    .jobOpening-box {
        width: 60%
    }

}

@media screen and (min-width:2400px) {
    .background-image {
        height: 1500px;
        background-size: cover
    }
    .culture-text {
        bottom: 5em
    }
    .jobOpening-box {
        width: 50%
    }
    .two-column-smarterPlan{
        padding:1em 25%;
        width:100%;
    }
    .three-grid-column-center .video-box{
      /* width:450px; */
    }
}
